@use "./src/styles/mixins" as *;

.Upload {
  .Row {
    display: flex;
    align-items: center;
    .ImageContainer {
      position: relative;
      width: 33%;
      height: 15vw;
      min-height: 100px;
      @include Image;
      &:not(:last-child) {
        margin-right: var(--gap);
      }
      img {
        object-fit: cover;
        object-position: center center;
        border-radius: var(--radius);
      }
      .Remove {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius);
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        min-width: 30px;
        color: var(--light);
        background-color: rgba(#000, 0.4);
      }
    }
  }
}

.Add {
  width: 90px;
  height: 90px;
  background-color: var(--accent);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  @include Hover;

  .Icon {
    font-size: 2rem;
    color: var(--light);
  }
  input {
    display: none;
  }
}
