@import "./mixins.scss";

:root {
  --buttonHeight: 50px;
  --inputHeight: 50px;
  --radius: 10px;
  --gap: 20px;
  --padding: 25px;

  //colors
  --accent: #079aa2;
  --dark: #314155;
  --light: #fff;
  --success: #00d192;
  --warning: #d90505;
  --error: #d90505;
}

@include MQ(S) {
  :root {
    --buttonHeight: 50px;
  }
}
