@use "./src/shared/styles/mixins" as *;

.HotelDetails {
  & > * {
    margin-bottom: var(--gap);
  }
}

.Item {
  display: flex;
  flex-direction: column;
  .ImagesList {
    display: flex;
    margin-bottom: var(--gap);
    flex-wrap: wrap;
    .Image {
      width: 30%;
      min-width: 200px;
      height: 200px;
      margin-bottom: var(--gap);
      background-color: #efefef;
      border-radius: var(--radius);
      @include Image;
      overflow: hidden;
      &:not(:last-child) {
        margin-right: var(--gap);
      }
      img {
        object-fit: cover;
        object-position: center center;
      }

      @include MQ(M) {
        min-width: calc(50% - var(--gap));
      }
      @include MQ(S) {
        min-width: 100%;
      }
    }
  }
  h4 {
    font-size: 1.4rem;
    margin: 10px 0 var(--gap) 0;
    padding: 0;
    font-weight: 400;
  }
  .Description {
    margin: 0 0 var(--gap) 0;
    color: var(--gray);
  }
  .Button {
    max-width: 300px;
  }
}

.Actions {
  display: flex;
  width: 100%;
  & > * {
    margin-right: var(--gap);
    width: 100%;
  }
}
