@use "./src/shared/styles/mixins" as *;

.Header {
  display: flex;
  background-color: var(--light);
  border-radius: var(--radius);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: var(--headerHeight);
  box-sizing: border-box;
  padding: var(--padding);

  @include Shadow;
  .Logo {
    background-color: var(--accent);
    color: #fff;
    font-weight: 600;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: var(--radius);
    text-decoration: none;
    @include Hover;
  }
}
