@use "./src/shared/styles/mixins" as *;

.Form {
  display: grid;
  grid-gap: var(--gap);
  .Columns {
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(2, minmax(0%, 50%));
    @include MQ(M) {
      grid-template-columns: repeat(1, minmax(0%, 100%));
    }
  }
}

.Errors {
  display: flex;
  flex-direction: column;
  margin-top: var(--gap);
  & > * {
    color: var(--error);
  }
}

section.Actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  p {
    margin: 0;
  }
  .Link {
    color: var(--accent);
    cursor: pointer;
    @include HoverText;
    padding: 5px 0;
  }
}
