@import "./variables.scss";
@import "./mixins.scss";
@import "./root.scss";

body {
  background: #f5f6fa;
  margin: 0;
  padding: 0;
}

form {
  max-width: 100%;
}

a {
  color: var(--accent);
}

/*
** Modal Transitions
*/

.modal-enter {
  opacity: 0 !important;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1 !important;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.modal-enter-done {
  opacity: 1 !important;
  pointer-events: all;
}
.modal-exit {
  opacity: 1 !important;
}
.modal-exit-active {
  opacity: 0 !important;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.modal-exit-done {
  opacity: 0 !important;
}

ul {
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 3px;
    span {
      font-weight: 500;
      color: var(--accent);
    }
  }
}
