@use "./src/styles/mixins" as *;

.Link {
  text-decoration: none;
}

.Button {
  width: 100%;
  max-width: 100%;
  background-color: var(--accent);
  color: var(--light);
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  font-weight: 500;
  height: var(--buttonHeight);
  box-sizing: border-box;
  cursor: pointer;

  font-family: inherit;
  border: 0px;
  opacity: 1;
  &:not(.Disabled) {
    @include Hover;
  }
  span {
    font-weight: 500;
  }
  &[data-style="dark"] {
    background-color: #262937;
    color: #fff;
  }
  &.Disabled {
    opacity: 0.4;
    transition: 0.5s ease-in-out all;
  }
}
