@import "@/shared/styles/mixins.scss";
@import "@/shared/styles/variables.scss";

.Field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  position: relative;

  height: var(--inputHeight);

  %labelUp {
    transform: translateY(-12px);
    font-size: 0.8em;
    transition: 0.5s ease all;
    left: $leftLabelOffset;
  }

  .showPassword {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $leftIconOffset;
    display: flex;
    z-index: 2;
    cursor: pointer;
  }

  .label {
    position: absolute;
    display: flex;
    align-items: center;
    height: 1rem;
    top: 2px;
    left: $leftLabelOffset;
    font-weight: 500;
    font-size: 1em;
    transition: 0.5s ease all;
    pointer-events: none;
    color: $colorLabel;
    background-color: transparent;
    padding: 23px 4px;
    z-index: 2;
  }

  &.content {
    .label {
      @extend %labelUp;
    }
  }

  .icon {
    position: absolute;
    left: $leftIconOffset;
    top: 16px;
    display: flex;
    z-index: 2;
    width: 18px;
    height: 18px;
    svg {
      width: 100%;
      height: auto;
    }
  }

  &.error {
    input {
      border: 1px solid var(--error);
    }
  }
  .input {
    position: relative;
    z-index: 1;
    height: 100%;
    background-color: #f4f7fa;
    border: 1px solid transparent;
    border-radius: var(--radius);
    box-sizing: border-box;
    transition: 0.5s ease border, 0.5s ease padding;
    color: $colorText;
    padding: 0 10px 0$leftLabelOffset + 3px;
    padding-top: 10px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    width: 100%;
    &.textarea {
      height: 80px;
      min-height: 80px;
      width: 100%;
      padding-top: 20px;
      box-sizing: border-box;
      textarea {
        resize: none;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        outline: none;
        border: none;
        transform: translateX(-2px);
        &:focus,
        &:active {
          outline: none;
          border-radius: 0;
          & + .label {
            @extend %labelUp;
          }
        }
      }
    }
    &:disabled {
      background-color: darken(#f6f7f8, 4%);
      &:focus,
      &:active {
        outline: none;
        border: 0px solid var(--accent);
      }
    }
    &:focus,
    &:active {
      outline: none;
      border: 1px solid var(--accent);
      & + .label {
        @extend %labelUp;
      }
    }
  }
}
