@use "./src/styles/mixins" as *;

.Room {
  display: flex;
  @include MQ(M) {
    flex-direction: column;
  }
  .Image {
    width: 30%;
    min-width: 200px;
    height: 200px;
    margin-right: var(--gap);
    background-color: #efefef;
    border-radius: var(--radius);
    @include MQ(M) {
      margin-right: 0;
      margin-bottom: var(--gap);
    }
  }
  h4 {
    font-size: 1.4rem;
    margin: 10px 0 var(--gap) 0;
    padding: 0;
    font-weight: 400;
  }
  .Description {
    margin: 0 0 var(--gap) 0;
    color: var(--gray);
  }
  .Button {
    max-width: 300px;
  }
}
