body {
    background: #f5f6fa;
}

.App {
    margin-top: 20px;
}

.logo, .sidebar {
    display: flex;
    width: 230px;
}

.logo {
    height: 60px;
    background: #079aa2;
    border-radius: 10px;
}

.logo-text {
    margin: auto;
    color: #fff;
}

.header, .content-container {
    display: flex;
}

.content-container {
    margin-top: 20px;
}

.header-profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.header-profile button {
    margin-right: 15px;
}

.content, .header-profile, .sidebar, .logo {
    box-shadow: 2px 2px 25px rgba(134, 134, 134, 0.35);
}

.sidebar {
    background: #fff;
    border-radius: 10px;
}

.content, .header-profile {
    background: #fff;
    width: calc(100% - 230px);
    margin-left: 15px;
    border-radius: 10px;
    padding: 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
}

.menu .menu__item {
    color: #079aa2;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}